<% content_for(:head) do %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js' %>
  <%= javascript_include_tag 'openlayer/OpenLayers.debug.js' %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3&sensor=false' %>
  <%= javascript_include_tag 'openlayer/func.js' %>
  <script>$(document).ready(function() { init(); });</script>
  <style>
    #map { width: 500px; height: 500px; }
  </style>
  <script>
    // $("#map").resizable("enable");
  </script>
<% end %>


<div id="map"></div>

<hr/>

<button data-w="3" data-h="5">3x5</button>


<hr/>

<%= form_tag generate_sti_path, id:'latlong_form' do %>
  <%= label_tag 'width' %>
  <%= text_field_tag 'width', '5', class:'width' %>
  <%= label_tag 'height' %>
  <%= text_field_tag 'height', '5', class:'height' %>
  <%= hidden_field_tag 'latlong' %>
  <%= submit_tag "submit", id:'submit' %>
<% end %>

<hr/>
