<p id="notice"><%= notice %></p>

<p>
  <strong>Left:</strong>
  <%= @print.left %>
</p>

<p>
  <strong>Left:</strong>
  <%= @print.left %>
</p>

<p>
  <strong>Right:</strong>
  <%= @print.right %>
</p>

<p>
  <strong>Top:</strong>
  <%= @print.top %>
</p>

<p>
  <strong>Bottom:</strong>
  <%= @print.bottom %>
</p>

<%= link_to 'Edit', edit_print_path(@print) %> |
<%= link_to 'Back', prints_path %>
